header {
    height: 100vh;
    padding-top: 20rem;
    overflow: hidden;
}

.header__container {
    text-align: center;
    height:100%;
    position: relative;
}

.header__container p{
    margin-top: 5rem;
}

.socials {
    margin-top: 1rem;
}

/* ----------------------------------- CTA ----------------------------------- */

.cta {
    margin-top: 2.5rem;
    display: flex;
    gap: 1.2rem;
    justify-content: center;
}

/* ----------------------------------- Header socials ----------------------------------- */

.header__socials {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 0.8rem;
}



/* .me {
    background-color: var(--color-primary);
    width: 22rem;
    height: 30rem;
    position: absolute;
    left: calc(50% - 11rem);
    margin-top: 4rem;
    border-radius: 12rem 12rem 0 0;
    overflow: hidden;
    padding: 5rem 1.5rem 1.5rem 1.5rem;
} */